.botonAgregar {
  cursor: pointer;
  color: rgb(5, 109, 95);
  height: 40px;
  width: 40px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.papelera {
  width: 50px;
  height: 18px;
  cursor: pointer;
  color: red;
  position: absolute;
  margin-left: 20px;
}

.lapiz {
  width: 40px;
  height: 15px;
  cursor: pointer;
  color: rgb(13, 9, 224);
  float: right;
  margin-right: 20px;
}

.menu {
  margin-left: 40px;
  font-style: italic;
  font-weight: bold;
}